@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-semibold capitalize;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-semibold;
  }
  label {
    @apply block mb-1;
  }
}
@layer components {
  .main-pages-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    height: calc(100vh - 128px);
    @apply bg-clrBaseLightActive;
  }
  .home-background {
    background-image: url("/images/mainimage.jpg");
    background-position: center;
    background-size: cover;
  }
  .btn {
    @apply text-clrBaseLight px-3 py-1 rounded-full hover:bg-opacity-90 active:bg-opacity-80 text-center text-xs uppercase;
  }
  .error {
    @apply text-xs text-red-600;
  }
  /* -------------------------- advertising ------------------------- */

  .ad-container {
    @apply w-full flex items-center justify-center transition-all overflow-hidden;
  }
  .ad-slides-container {
    @apply rounded-md shadow-md border-clrBorder   bg-clrBaseLightHover overflow-hidden absolute opacity-100;
    width: 700px;
    height: 260px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in;
  }

  /* -------------------------- advertising ------------------------- */

  /* ---------------------------- navbar ---------------------------- */
  .ambulance {
    @apply h-10 fixed right-0 bg-red-800 py-3 px-4 text-clrBaseLight rounded-l-md shadow-sm cursor-pointer flex items-center justify-start transition-all;
    bottom: 23vh;
  }

  .link-light {
    @apply text-clrBaseLight hover:text-clrBaseLightHover active:text-clrBaseLightActive transition-all;
  }
  .link-icon {
    @apply relative;
  }
  .navbar-comment {
    @apply absolute top-12 left-0 z-20 bg-clrBaseLight bg-opacity-80 py-2 px-4 rounded-sm transition-all opacity-0;
  }
  .link-icon:hover .navbar-comment {
    @apply opacity-100;
  }
  .menu {
    @apply absolute w-80 rounded-sm shadow-md shadow-clrTextMedium bg-clrBaseLight top-16 right-0 px-7 py-5 z-10 font-medium transition-all overflow-hidden text-center;
  }
  .menu-item {
    @apply grid space-x-3 w-full border-b-clrPrimaryDark hover:border-clrBorder py-2 transition-all cursor-pointer;
  }
  .menu-item-text {
    @apply text-clrTextDark text-left transition-all;
  }
  .menu-item-icon {
    @apply text-xl text-clrPrimaryDark mr-2 transition-all;
  }

  .menu-item:hover .menu-item-text {
    @apply text-clrBorder;
  }

  .menu-item:hover .menu-item-icon {
    @apply text-clrBorder;
  }

  /* ---------------------------- navbar ---------------------------- */
  /* --------------------------- side menu -------------------------- */
  .side-menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    @apply w-full h-full;
  }
  .side-menu-item {
    border: 1px solid;
    @apply w-full h-full flex flex-col items-center justify-center rounded-sm cursor-pointer p-2  bg-clrBaseLight bg-opacity-80 hover:bg-opacity-90 active:bg-clrBaseLightActive transition-all shadow-stone-300 shadow-sm overflow-hidden border-stone-400;
  }
  .side-menu-text {
    @apply font-semibold text-lg;
  }
  .side-menu-info {
    @apply text-sm  text-clrTextMedium text-center leading-3 transition-all opacity-0 h-0;
  }

  .side-menu-item:hover .side-menu-info {
    @apply opacity-100 h-8;
  }
  .side-menu-item:active .side-menu-info {
    @apply opacity-100 h-8;
  }
  /* --------------------------- side menu -------------------------- */

  /* -------------------------- main pages -------------------------- */
  .main-page {
    @apply w-full bg-clrBaseLight overflow-y-scroll;
    height: calc(100vh - 128px);
  }
  /* -------------------------- main pages -------------------------- */

  /* -------------------------- find doctor ------------------------- */
  .logo-btn {
    @apply text-clrBaseLight h-10 pl-3 pr-7 rounded-full hover:bg-opacity-90 active:bg-opacity-80;
  }
  .list-menu {
    @apply absolute top-12 flex flex-col bg-clrBaseLightHover px-5 py-2 rounded-md shadow-md max-h-52 overflow-y-scroll transition-all;
    width: 90%;
    left: 50%;
    transform: translatex(-50%);
  }
  .doctor-card-container {
    @apply place-items-center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .doctor-card {
    @apply w-80 h-52 p-5 bg-clrBaseLightHover rounded-md shadow-sm hover:shadow-lg mt-5 transition-all;
  }
  .find-doctor-image {
    @apply mt-5 flex justify-center rounded-sm overflow-hidden shadow-sm;
    width: 100%;
    height: 300px;
    background-image: url("../public/images/surgeon.jpg");
    background-size: cover;
  }
  /* -------------------------- find doctor ------------------------- */
  /* --------------------------- inpatient -------------------------- */
  .inpatient-room {
    @apply bg-clrBaseLightHover rounded-md overflow-hidden shadow-sm text-left text-clrTextDark transition-all hover:bg-white hover:text-clrTextMedium hover:shadow-md hover:opacity-80 active:opacity-100 cursor-pointer;
    width: 700px;
    display: grid;
    grid-template-columns: 5fr 3fr;
  }

  .inpatient-room-info {
    @apply p-10 pb-5 bg-clrBaseLightHover hover:bg-white leading-4;
  }
  /* --------------------------- inpatient -------------------------- */

  /* ------------------------- facility list ------------------------- */
  .facility-list {
    @apply grid gap-4;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .facility-list-btn {
    @apply w-full h-32 rounded-sm cursor-pointer relative text-white flex items-end p-3 font-bold mb-5 text-left;
    background-size: cover;
    background-position: center;
  }
  .main-form {
    @apply mx-auto bg-clrBaseLightHover rounded-sm py-5 px-10;
    width: 80%;
  }

  .sub-form {
    @apply relative w-full bg-clrBaseLight border-clrBorder mb-10 p-5 transition-all;
    border-width: 1px;
  }
  .form-title {
    @apply absolute -top-4 left-3 z-10 bg-clrBaseLightHover px-2  tracking-wide;
  }
  .form-input-container {
    @apply mx-auto text-clrTextDark;
    width: 80%;
  }
  .form-input-item {
    @apply mb-2;
  }
  .form-icon {
    @apply mr-2 text-clrBorder;
  }

  .form-input {
    @apply w-full px-3 h-8 bg-white;
  }

  /* ----------------------------- modal ---------------------------- */
  .modal-base {
    @apply absolute top-0 left-0 w-full h-full bg-clrTextMedium z-30 bg-opacity-50 py-5;
  }
  .modal-container {
    @apply absolute bg-clrBaseLight rounded-md shadow-md;
    width: 400px;
    height: 500px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  /* ----------------------------- modal ---------------------------- */
}
